.container {
  height: 100vh;
  max-width: 60rem;
  margin: 1rem auto 3rem;
  font-family: Clearface;

}

@media (max-width: 1250px) {
  .container {
    max-width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}


@font-face {
  font-family: "Clerface";
  src: url('../public/fonts/ClearfaceBold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url('../public/fonts/worksans-roman-vf.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clerface";
  src: url('../public/fonts/ClearfaceBoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

