.container {
    width: 100%;
    height: 300px;
    background: #fffdedff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    max-width: 650px;
    font-family: Work Sans;
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        height: 200px;
        padding: 20px;
    }
    .text {
        font-size: 14px;
        line-height: 20px;
    }
}